.aboutMain
  padding: 0

.introCol
  padding: 80px 30px
  padding-left: 50px
  padding-bottom: 50px
  margin: 0
  background-color: #ffffff
  height: 100%




// .aboutMainCol
//   padding: 0
//
//   .aboutMain
//     padding: 80px 30px
//     padding-left: 50px
//     padding-bottom: 50px
//     margin: 0
//     background-color: #ffffff
//     height: 100%
//
//     h1
//       font-weight: lighter
//       margin-bottom: 0px
//       margin-top: 4px
//
// .introTop
//   margin-top: 10px
//
// .introParagraph
//   margin-top: 20px
//   font-size: 1.1em
//
// .contactLinks
//   padding: 80px 30px
//   padding-left: 50px
//   margin: 0
//   background-color: #ffffff
//   height: 100%
//   display: flex
//   flex-direction: column
//   justify-content: flex-end
//   align-items: center
//
//   h1
//     font-weight: lighter
//     margin-bottom: 0px
//     margin-top: 4px
//
// .aboutPage
//   background-color: #ffffff
//
//   .row
//     background-color: #ffffff
//
// .careTitle
//   padding-top: 30px
//   display: flex
//   flex-direction: column
//   justify-content: center
//   align-items: center
//
// .care
//   display: flex
//   flex-direction: column
//   justify-content: center
//   align-items: center
//
//   p
//   display: flex
//   justify-content: center
//
// .aboutLeft
//   padding-left: 50px
//   padding-right: 25px
//
// .aboutRight
//   padding-right: 50px
//   padding-left: 25px
//
// .aboutMiddle
//   padding-right: 25px
//   padding-left: 25px
//
// .careAboutDets
//   padding-bottom: 30px
//
// .careRow
//   background-color: #E4F1F8
//
// .careBottomCol
//   height: 50px
//   background-color: #E4F1F8
