.contactMainCol
  padding: 0

  .contactMain
    padding: 80px 30px
    padding-left: 50px
    margin: 0
    background-color: #ffffff
    height: 100%

    h1
      font-weight: lighter
      margin-bottom: 0px
      margin-top: 4px
      display: flex
      justify-content: center
