.homeBut
  float: right

.homeIntro
  margin: 10px 50px

  h1
    color: #fff
    font-size: 3em
    font-weight: lighter

  p
    color: #E4F1F8
    font-size: 1.2em

.gridItem
  background-color: green
  padding: 20px
  height: 250px
  border: solid #002938 4px
  display: flex
  align-items: center
  justify-content: center

.gridIntro
  padding: 20px
  height: 250px
  border: solid #002938 4px

.homeTightrope
  max-height: 200px
  display: flex
  align-items: center
  justify-content: center

  img
    width: auto
    height: 130px

.tightropeBackground
  background: -webkit-linear-gradient(left, #482f37, #644941)
