.contact
  height: 200px
  background-color: #AB1134

.projects
  height: 200px
  background-color: #10789E

.blog
  height: 200px
  background-color: #A39A08

.col1
  height: 200px
  background-color: #9a11ab

.col2
  height: 200px
  background-color: #109e2b

.col3
  height: 200px
  background-color: #ab5b11

.row1
  margin-bottom: 10px

.row2
  margin-bottom: 10px

.row3
  margin-bottom: 10px

.row4
  margin-bottom: 10px
