.nav
  background-color: #00202B
  height: 65px
  margin: 0
  padding: 0

  .brand
    margin: 0
    padding: 0

    h1
      margin: 0
      padding: 0
      color: #002938
      height: 65px
      font-size: 73px
      font-weight: bold
      letter-spacing: -11px

.desktop
  display: none

.draw
  padding-top: 100px
  display: flex
  flex-direction: column

  aside
    display: flex
    flex-direction: column

.fa-bars
  color: white

.mobileNav
  display: flex
  justify-content: flex-end
  padding: 0
  padding-top: 12px

  button
    height: 36px
    width: 60px

.draw
  padding-left: 20px
  background-color: #E4F1F8 !important

  a
    font-size: 2.2em
    color: #444444
    font-weight: lighter
    text-decoration: none

  a:hover

  .active
    color: #FD3D50


@media (min-width: 768px)

  .nav
    background-color: #00202B
    height: 65px
    width: 100%
    margin: 0
    padding: 0
    display: flex
    justify-content: center

    ul
      list-style-type: none
      height: 100%
      margin: 0 auto
      padding: 0
      display: flex
      justify-content: flex-end

    li
      padding: 20px 0
      height: 100%

    a
      text-decoration: none
      color: white
      padding: 25.5px 20px
      font-weight: 300
      height: 100%

    a:hover
      color: black
      background-color: white

    .active
      background-color: #FD3D50

      a:hover
        background-color: #FD3D50

  .brand
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    justify-content: center

    h1
      margin: 0
      padding: 0
      color: #002938
      height: 65px
      font-size: 73px
      font-weight: bold
      letter-spacing: -11px

  .mobile
    display: none

  .desktop
    display: block
