.projectMainCol
  padding: 0

  .projectMain
    padding: 2.5px 30px
    padding-bottom: 30px
    margin: 0
    background-color: #ffffff
    height: 100%

.projectSideCol
  padding: 0

  .projectSide
    padding: 2.5px 2.5px
    padding-bottom: 30px
    margin: 0
    flex-wrap: wrap
    justify-content: center
    background-color: #ffffff
    height: 100%

.projectTitleCol
  padding: 0

  .projectTitle
    padding: 40px 30px
    padding-bottom: 1px
    margin: 0
    background-color: #ffffff

    h1
      font-size: 2.8em
      font-weight: bold

    button
      margin-left: 20px

.projectImageCol
  padding: 0
  background-color: #ffffff

  .projectImage
    padding: 0
    margin: 0
    background-color: #ffffff
    height: 100%

.projectPage

  .row
    background-color: #ffffff

  .build
    display: flex
    flex-wrap: wrap
    justify-content: center

    img
      max-height: 80px
      padding: 5px 5px

  .testing
    display: flex
    flex-wrap: wrap
    justify-content: center

    img
      max-height: 80px
      padding: 5px 5px
