.projectItem
  padding: 2.5px 2.5px

  a
   text-decoration: none

.project
  height: 375px
  background-color: green
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .projectTitle
    display: none

  .projectInfo
    display: none

.project:hover

  .projectTitle
    display: inline
    color: white

  .projectInfo
    display: inline
    color: white
