.projectItem
  padding: 20px
  height: 250px
  border: solid #002938 4px
  display: flex
  align-items: center
  justify-content: center
  transition: all 0.5s linear 0s

.projectItem:hover
  background-color: #fff

  h2
    text-decoration: none

  a
   text-decoration: none

.project
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex-wrap: wrap
  text-align: center

  .projectTitle
    font-size: 3.2em
    color: #fff
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1)

  .projectInfo
    font-size: 15px
    display: inline
    color: white

.loading
  display: flex
  justify-content: center
