$font-path: '../fonts/';

// Font Size
$font-size: (
	base: 14.4px,
	tablet: 14px
);

// Font Weights
$font-weight: (
	thin: 100,
	extralight: 200,
	light: 300,
	normal: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900,
	ultra: 900
);